.home-page {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.home-page::before {
  content: '';
  background: url('/images/geio-tischler-7hww7t6NLcg-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0.3;
}

.main-title {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.title-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}